/* наши преимущиства */
.benefits {
  padding: 60px 0px;
  @media screen and (min-width: 480px) {
    padding: 60px 0px;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0px;
  }
  @media screen and (min-width: 1600px) {
    padding: 94px 0px;
  }
}
.benefits__h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--zag-h-ty);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  width: 270px;
}
.benefits__flex {
  display: block;

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    width: 738px;
    display: flex;
    flex-wrap: wrap;
    // border: 1px olive;
  }
  @media screen and (min-width: 1600px) {
    width: 1170px;
    display: flex;
  }
}
// .benefits__li + .benefits__li {
//   // margin-left: 30px;
//   @media screen and (min-width: 1600px) {
//     margin-left: 30px;
//   }
// }

.benefits__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
  margin-top: 0;
}
.benefits__li {
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    background-image: url(..//images/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }

  &:nth-child(3)::before {
    background-image: url(..//images/diagram.svg);
  }

  &:nth-child(4)::before {
    background-image: url(..//images/astronaut.svg);
  }

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    // width: 354px;
    width: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    @media screen and (max-width: 1599px) {
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(n + 2) {
        margin-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 1600px) {
    margin: 0;
    width: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
    &:nth-child(n + 4) {
      margin-right: 0;
    }
  }
}
