.none {
  display: none;
}

/* портфолио наши работы */
.examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.examples__set {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(102%);
  content: "";
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__set:hover,
.examples__set:focus {
  transform: translateY(0);
}
.examples__text {
  margin: 0;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.examples__h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--zag-h-ty);
  padding-left: 24px;
  padding-top: 20px;
}
.examples__p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-bottom: 20px;
}
.section-work-indent {
  padding: 94px 0px;
}
.examples__blok {
  /* привязва позиционирования */
  position: relative;
  overflow: hidden;
}
